{% extends 'base.html.twig' %}

{% block title %}Scrummy{% endblock %}

{% block body %}
    <div class="flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 items-center">
        <div class="bg-white p-10 ring-1 ring-gray-700/5 sm:mx-auto md:rounded-lg">
            <div class="w-96">
                <form id="form_create_room" method="POST" action="/room">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name
                        <small>(optional)</small></label>
                    <input type="text" id="name" name="name" placeholder="Name"
                           class="mb-8 w-full rounded-lg border-2 border-gray-100 bg-gray-50 p-2.5 text-sm text-gray-900 focus:outline-none focus:ring-4 focus:ring-purple-300">

                    <label for="choice_list" class="block mb-2 text-sm font-medium text-gray-900">Type</label>
                    <ul class="grid w-full gap-1 text-sm" id="choice_list">
                        {% for suite in suites %}
                            <li>
                                <input type="radio" id="choice-{{ suite.name|slug }}" name="choicesSuite" value="{{ suite.name|slug }}"
                                       class="peer hidden" required {{ suite.name == 'Scrum' ? 'checked' : '' }}>

                                <label for="choice-{{ suite.name|slug }}"
                                       class="inline-flex w-full cursor-pointer items-center rounded-lg bg-purple-500 p-3 text-gray-100 hover:bg-purple-600 peer-checked:bg-purple-700">
                                    <div class="block">
                                        <div class="w-full font-semibold">{{ suite.name }}</div>
                                        <div class="w-full">{{ suite.values|join(', ') }}</div>
                                    </div>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>

                    <input type="submit" value="Create a room"
                           class="mt-8 w-full rounded-lg bg-purple-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
